@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font option: */
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
"Roboto"  */

.App {
  text-align: center;
  font: 14px "Poppins", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-y: hidden;
}

/* ----------------------------------------------------------------- */

/* adjusting that content wraps if screensize lower than 960px width */
@media (max-width: 960px) {
  .profile-det-wrapper {
    flex-wrap: wrap;
  }
}

a {
  color: #00b7ff;
}

#header-front {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 25px;
  background-color: rgb(255, 244, 89);
  background-size: cover;
  /* /* height: 120%; */
}

.header-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  text-decoration: none;
  color: #e6c843;
  text-align: flex-end;
}

.nav-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fdef73;
  padding: 5px 20px;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  list-style: none;
}

.nav-link-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 80%;
}

.nav-wrapper-left {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav-wrapper-left h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-wrapper a {
  list-style: none;
  text-decoration: none;
  color: rgba(94, 38, 247, 0.938);
  font-weight: bold;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

.nav-link-wrapper a:hover {
  color: black;
  font-weight: normal;
}

.nav-icon {
  cursor: pointer;
  height: 25px;
}

.logo-small {
  width: 5rem;
  height: 4rem;
}

.logo-large {
  width: 23rem;
  height: 20rem;
}

.logoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-size: 42px;
  padding-top: 10px;
  margin-top: 8px;
}

h2 {
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  line-height: 27px;
  font-weight: lighter;
  padding: 10px 0px;
  margin-top: 8px;
}

h3 {
  font-size: 15px;
  text-align: center;
  line-height: 23px;
  font-weight: bold;
  padding: 5px 0px;
}

h4 {
  font-size: 13px;
  text-align: start;
  line-height: 23px;
  padding: 5px 0px;
  font-weight: bolder;
}

.content-body {
  /* margin: 15px 20px;*/
  padding: 25px 30px; 
  background-color: rgb(243, 234, 253);
  height: 100%;
}

#startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.joinOption-Wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 16px auto;
}

.basic-btn {
  text-decoration: none;
  color: rgb(2, 2, 2);
  border-radius: 18px;
  padding: 4px 10px;
  align-items: center;
  margin: 8px 10px;
  padding: 5px 18px;
  border: none;
  background-color: rgb(255, 174, 160);
}

.basic-btn:hover {
  background-color: #e6c843;
  color: #fff;
  transition: 0.3s ease background;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  height: 100px;
  display: flex;
}

.login-box form {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-box #form {
  padding-top: 30px;
}

.login-box form button {
  margin-top: 10px;
  width: 30%;
  background-color: #e6c843;
  color: #fff;
  padding: 4px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  border: none;
  border-radius: 15px;
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-box form button:hover,
.btn:hover {
  background: rgba(94, 38, 247, 0.938);
  color: #e6c843;
  transition: 0.3s ease background;
}

form {
  margin: 5px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin: 10 0;
  text-align: center;
  width: 100%;
}

ul li {
  line-height: 20px;
}

.error {
  background: #f02b63;
  box-sizing: content-box;
  color: #fff;
  margin: 25px auto;
  padding: 10px 15px;
  width: 100%;
  justify-content: center;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .welcomeText h2{

display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.profile-det-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 90%; */
  align-items: center;
  /* flex-wrap: wrap; */
}

.persDetails {
  flex: 2;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px
}

.persDetails form {
  justify-content: flex-start;
  align-items: flex-start;
}

.userSpecification {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding-top: 10px;
}

.userSpecification ul {
  padding-left: 0;
}

.userSpecification li {
  display: flex;
  flex-direction: row;
}

/* checkboxstyle */
input[type="checkbox"] {
  transform: scale(1.8);
  margin-right: 10px;
  margin-top: 7px;
}

/* checkbox label style */
.multipleChoice label {
  font-size: 13px;
  font-weight: bold;
}

.signUpBtn {
  background: rgb(255, 174, 160);
  color: black;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  border-radius: 15px;
  width: 190px;
  border: none;
}

.signUpBtn:hover {
  background: rgba(94, 38, 247, 0.938);
  color: #e6c843;
  transition: 0.3s ease background;
}

#signup-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#redirectLogin {
  margin-top: 12px;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 70px;
  /* justify-content: flex-start; */
  justify-content: space-around;
}

/* .content-tiger-det {
  margin-top: 50px;
} */

.tiger-det-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-spacer {
  margin-bottom: 10px;
}

.grid-tiger-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiger-pic-det-box {
  width: fit-content;
}

.centered-text {
  display: flex;
  justify-content: center;
}

.tiger-pic-det {
  margin-top: 10px;
  padding-top: 10px;
}

.btn:hover a {
  background: rgba(94, 38, 247, 0.938);
  color: black;
  transition: 0.3s ease background;
}

#tigerIntro {
  height: 25%;
  width: 100%;
  text-align: start;
}

#helpDef {
  height: 25%;
  width: 100%;
}

#tigerViewLoggedIn-Wrapper {
  display: flex;
  justify-content: space-around;
}

.tigerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 1
}

.profileDetailsList{
display: flex;
flex-direction: column;
align-items: center;
}

.tigerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
  flex: 1
}

.editForm {
  width: 80%;
  margin-top: 10px;
}

.editForm-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 0px;
}

.editForm-wrapper-1 {
  flex: 1;
}

.editForm-wrapper-1 {
  flex: 2;
}

.editForm-wrapper-1 {
  flex: 1;
}

.update-Btn {
  margin: 15px;
  background: #e6c843;
  color: #fff;
  padding: 4px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  border: none;
  border-radius: 15px;
}

.update-Btn a {
  text-decoration: none;
  color: #fff;
}

.update-Btn:hover {
  background: rgba(94, 38, 247, 0.938);
  transition: 0.3s ease background;
}

.homeLink {
  text-decoration: none;
  color: black;
}

.homeLink:hover {
  color: black;
}

.footer {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0px;
  bottom: 0px;
  width: 100%;
  height: 40px; /* Height of the footer */
  z-index: 1;
  background-color: white;
  text-align: center;
}

.container-footer {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link-footer {
  text-decoration: none;
  color: rgba(94, 38, 247, 0.938);
}

.logout-btn {
  border: none;
  color: rgba(94, 38, 247, 0.938);
  background-color: rgba(255, 255, 255, 0);
}

.logout-btn:hover {
  border: none;
  color: #e6c843;
  background-color: rgba(255, 255, 255, 0);
}

/*# sourceMappingURL=style.css.map */

/* bootstrap added for profilecards: */

.link-container {
  text-decoration: none;
}

.profile-box {
  width: 220px;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border: 8px solid #eee;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: inline-block;
}

.profile-pic-det {
  height: 150px;
  width: 150px;
  border: 8px solid #eee;
  left: 40%;
  border-radius: 50%;
}

.profilePic-tigerview {
  height: 110px;
  width: auto;
  /* border: 8px solid #eee; */
  /* position: absolute;
  left: 20%; */
  top: 0;
}

.profilePic-tigerview img {
  height: 150px;
  width: 150px;
  border: 8px solid #eee;
  left: 40%;
  border-radius: 50%;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.card-text p {
  text-decoration: none;
}

.prof-card-name {
  font-size: 20px;
  margin-bottom: 6px;
  padding-top: 90px;
  text-decoration: none;
}

.prof-card-city {
  color: #fa2525;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  text-decoration: none;
}

/* .container .card .icons .icon {
    font-size: 14px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #ff8157;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
} */

.dis {
  color: #7e7c7c;
  line-height: 2;
}

.container .card:hover .text-center {
  background-color: #ff8157;
  color: white;
}

.container .card:hover .prof-card-city,
.container .card:hover .prof-card-name {
  color: white;
}

.container .card:hover .dis {
  color: #c4c4c4;
}

.mt-80 {
  margin-top: 80px;
}
