.messenger {
  height: calc(100vh - 10px);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.chatMenu{
  width: 380px;
  padding: 10px;
}

.chatBox{
  width: 700px;
  padding: 10px;
}


.chatMenu {
  padding: 20px;
  border-right: 1px solid rgb(194, 184, 184);
  background-color: #fff;
  height: fit-content;
  display: flex;
  justify-content: center;
}


/* .heading-font-messenger{
  font-family: 'PT Sans Caption', sans-serif;
  margin-bottom: 20px;
} */


/* .chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
} */

.conversation-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2.0em;
  padding-top: 1em;
  height: 30em;
  overflow-y: scroll;

}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 90px)
}

.chatBoxTop {
  height: 55em;
  width: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.chatMessageInput {
  width: 35em;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
}

.chatSubmitButton {
  text-decoration: none;
  color: rgb(2, 2, 2);
  border-radius: 18px;
  padding: 4px 20px;
  align-items: center;
  margin: 8px 10px;
  padding: 5px 18px;
  border: none;
  width: 120px;
  background-color: rgb(255, 174, 160);
  letter-spacing: 2px;
}

.chatSubmitButton:hover {
  text-decoration: none;
  color: #fff;
  border-radius: 18px;
  padding: 4px 10px;
  align-items: center;
  margin: 8px 10px;
  padding: 5px 18px;
  border: none;
  background-color: #1877f2;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  /* height: 100%; */
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
/* 
.chatBoxBottom {
  text-decoration: none;
  color: rgb(2, 2, 2);
  border-radius: 18px;
  padding: 4px 10px;
  align-items: center;
  margin: 8px 10px;
  padding: 5px 18px;
  border: none;
  background-color: rgb(255, 174, 160);
} */

.basic-btn:hover {
  background-color: #e6c843;
  color: #fff;
  transition: 0.3s ease background;
}

.heading-messenger{
  margin-top: 0
}

@media screen and (max-width: 768px) {

  .chatMenu{
    width: 380px;
    padding: 10px;
  }
  
  .chatBox{
    width: 450px;
    padding: 10px;
  }

  .conversation-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    padding-top: 0.8em;
  }
  .chatBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto
  }  

  .chatBoxTop {
    height: 15em;
    width: 33em;
    overflow-y: scroll;
    padding-right: 10px;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
  }

  .chatMessageInput {
    width: 33em;
    height: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    /* position: fixed; */
  }

}

@media screen and (max-width: 480px) {

.navLink{
  font-weight: 500;
  font-size: 12px;
}
.nav-link-wrapper-front{
  padding-top: 10px;
}


  .chatMenu {
    /* flex: 3; */
    padding: 20px;
    border-right: 1px solid rgb(194, 184, 184);
    background-color: #fff;
    height: fit-content;
    /* overflow-y: scroll; */
    display: flex;
    justify-content: center;
  }

  .chatMenu{
    width: 380px;
    padding: 10px;
  }
  
  .chatBox{
    width: 380px;
    padding: 10px;
  }

  .chatBoxTop {
    height: 25em;
    width: 90%;
    overflow-y: scroll;
    padding-right: 10px;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
  }


.chatMessageInput {
  width: 18em;
  height: 8em;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
}

  .noConversationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.conversation-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0.5em;
  padding-top: 5em;
  height: 20em;
}

.heading-messenger{
  margin-top: 0;
  font-size: 16px;
  margin: auto 20px;
}

.noConversationText {
  top: 5%;
  font-size: 40px;
  margin:  10px 10px 20px 10px;
}

.messenger{
  align-content: flex-start;
}

}
